{% extends "base.html" %}
{% block content %}

    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand nav-link mr-4" href="{{ url_for('user.login') }}">Msc. Portal</a>
                <!-- Navbar Right Side -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('user.add_student') }}">Add student</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">

        <section id="admin_home">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} text-center">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="content-section">
                            {% if all_students %}
                                <div>
                                    <legend class="text-center">Students</legend>
                                    <table class="table table-hover table-responsive-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Reg. Number</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for student in all_students %}
                                            <tr>
                                                <td>{{ student[2] }} {{ student[4] }}</td>
                                                <td>{{ student[1] }}</td>
                                                <td>{{ student[5] }}</td>
                                                <td>
                                                    <form method="post" action="{{ url_for('user.edit_users') }}">
                                                        <input id="txtid" name="id" type="hidden"
                                                               value="{{ student[7] }}">
                                                        <input id="singlebutton" name="singlebutton"
                                                               class="btn btn-success"
                                                               type="submit" value="Edit"/>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="text-center">No student is currently registered, kindly add a student</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="content-section">
                            <div class="media justify-content-center align-self-auto">
                                <img class="rounded-circle account-image" id="override" src="{{ image_file }}">
                            </div>
                            <div class="media-body text-center my-2">
                                <h2 class="small font-weight-bold"
                                    id="info_cred">{{ current_user.surname }} {{ current_user.first_name }} {{ current_user.middle_name }}</h2>
                                <a class="btn btn-info" href="{{ url_for('user.admin_update') }}">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock content %}